.innit {
    background-color: #D0576D;
}

.nuhuh {
    background-color: #1fa152;
}
  
.ingredient {
    margin-right: 1%;
    margin-bottom: 1%;
    
    padding: 0.2%;
    padding-left: 1%;
    padding-right: 1%;
    
    display: inline-block;
    
    border-radius: 10px;
    width: auto;

    cursor: pointer;
}

.button {
    margin-top: -20px;
    margin-left: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #555;
    color: #fff;
}