.wrapper {
    position: relative;
    width: 317.72px;
    height: 326.03px;
    background-color: #D9D9D9;
    border-radius: 20px;
}

.image {
    margin: auto;
    display: block;
    width: auto;
    height: 100%;
    max-height: calc(326.03px - 113.11px);
}

.title {
    padding: 0 10px 0 10px;
}

.textArea {
    position: absolute;
    bottom: 0;
    width: 317.72px;
    height: 113.11px;
    background-color: #E6E88C;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}