.main {
  min-height: 97vh;
}

.card {
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);

  width: 70vw;
  max-height: 90vh;

  background-color: #333;
  border-radius: 10px;

  border: 2px solid #555;
  padding-bottom: 2rem;

  overflow-y: auto;
}

.inapoi {
  position: relative;
  top: 4vh;
  left: 50%;
  transform: translateX(-50%);

  width: 5rem;

  background-color: #d0576d;
  border-radius: 10px;

  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10%;
  padding: 5%;
  padding-bottom: 0px;
}

.image {
  width: 200px;
  height: auto;
}

.titleInfo {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.tooltipWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  gap: 10px;
}

.infoTitle {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.ingredient:nth-child(2n) {
  background-color: #c3e8a6;
  color: black;
}

.ingredient:nth-child(2n + 1) {
  background-color: #d9d9d9;
  color: black;
}

.ingredient {
  margin-right: 1%;
  margin-bottom: 1%;

  padding: 0.2%;
  padding-left: 1%;
  padding-right: 1%;

  display: inline-block;

  border-radius: 10px;
}

.allergen {
  margin-right: 1%;
  margin-bottom: 1%;

  padding: 0.2%;
  padding-left: 1%;
  padding-right: 1%;

  display: inline-block;

  border-radius: 10px;

  background-color: #c3e8a6;
  color: black;
}

.inLocalStorage {
  background-color: #d0576d !important;
}

@media (max-width: 1000px) {
  .card {
    transform: translateX(0);
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    border-radius: 0;
    border: none;
  }
  .titleInfo {
    transform: translateX(-50px);
  }
  .title {
    font-size: 1rem;
  }
  .tooltipWrapper {
    flex-direction: column;
    gap: 1px;
  }
  .grid {
    display: none;
  }
  .image {
    max-width: 35vw;
  }
}

.commentList {
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
}

.comment {
  margin-bottom: 20px;
}

.commentText {
  color: #fff;
  font-size: 16px;
}

.commentDetails {
  margin-top: 5px;
  color: #888;
  font-size: 14px;
}

.commentDate {
  margin-left: 20px;
}

.commenBox {
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.commentInput {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  border-radius: 8px;
  background-color: #222;
  color: #fff;
  resize: vertical;
  margin-bottom: 10px;
}

.uploadButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.uploadButton:hover {
  background-color: #0056b3;
}

.voteContainer {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.voteButton {
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.voteButton:hover {
  color: #bb86fc;
}

.voteCount {
  font-size: 24px;
}
