.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 1vw;
    padding-right: 1vw;
    height: 4.5vh;

    min-width: 80px;

    border-radius: 10px;
}

.icon {
    margin-right: 5px;
}

.text {
    color: black;
    font-size: 0.75rem;
    cursor: default;
    user-select: none;
}

@media (max-width : 1000px) {
    .wrapper {
        width: 40vw;
        min-height: 20px;
    }
  }