.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.logo {
  width: 15vh;
}

.searchBar {
  background-color: #DADADA;
  border-radius: 10px;
  width: 50vw;
  height: 2.5rem;
  padding-left: 2%;
}

.categoryImages {
  width: 15px;
  height: 15px;
  margin-top: 2px;
  margin-right: 2px;
}

.categories {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
  padding: 0;
}

.categories > * {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 1%;
  width: 27%
}

.calories {
  background-color: #C3E8A6;
}

.nutriscore {
  background-color: #D0576D;
}

.novascore {
  background-color: #E6E88C;
}

.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DADADA;
  border-radius: 10px;
  width: 5rem;
  height: 2.5rem;
  margin-top: -2.5rem;
  border: 2px solid black;
}

@media (max-width : 1000px) {
  .wrapper {
    flex-direction: column;
  }
  .logo {
    display: none;
  }
  .categories {
    width: 100vw;
    gap: 10px;
    align-items: center;
    flex-direction: column;
  }
  .categories > * {
    width: 52vw;
  }
  .cont {
    width: 54vw;
    height: 2rem;
    margin-top: 10px;
  }
}