.topBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.searchBar {
  flex-grow: 1;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: #555;
  color: #fff;
  margin-right: 10px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
}

.filters .select {
  margin-left: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: #555;
  color: #fff;
}

.forumBtn {
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin-left: 2px;
}

.userActions button {
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}

.accountBtn {
  background-color: #4caf50;
  color: white;
}

.signoutBtn {
  background-color: #f44336;
  color: white;
}

.loginBtn {
  background-color: #2196f3;
  color: white;
}

@media (max-width: 600px) {
  .topBar {
    flex-direction: column;
    padding: 10px 20px;
  }
}
