.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 5.5vw;
    height: 3.5vh;

    min-width: 80px;

    border-radius: 10px;
}

.icon {
    margin-right: 5px;
}

.text {
    font-size: 0.75rem;
}