.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  height: 3.5vh;

  border-radius: 10px;
}

.icon {
  margin-right: 5px;
}

.text {
  color: black;
  font-size: 0.75rem;
}

@media (max-width: 1000px) {
  .wrapper {
    min-width: 80px;
  }
}
