.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    z-index: 1000;
    background-color: #E6E88C;
    border-radius: 1rem;
}

.modalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.label {
    width: 25vw;
}

.input {
    background-color: #DADADA;
    border-radius: 10px;
    width: 25vw;
    height: 2rem;
    padding-left: 2%;
    border: 2px solid black;
}