@font-face {
  font-family: 'JetBrains Mono';
  src: url("/fonts/JetBrainsMono-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #F0FEFF;
}

* {
  font-family: 'JetBrains Mono', monospace;
  user-select: none;
}